/******************************************************
*
*
*Main Elements
*
*
**********************************************************/
/******************************************************
*
*
*Global Elements
*
*
**********************************************************/
textarea.form-control {
  border: 1px solid #e3e3e3;
  border-radius: 0.5rem;
}
.info-card-bg {
  background: #ececec;
}
/******************************************************
*
*
* step-2 [Redeem Page]
*
*
*********************************************/
.step-2 {
  /* Firefox */
}
.step-2 .page_title {
  font-size: 2rem;
  color: #ee4038;
  font-family: Roboto;
}
.step-2 .show_value {
  color: #333132;
}
.step-2 .product_content {
  line-height: 1.45em;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  margin-left: 0.3rem;
}
.step-2 .arrow_icon {
  margin-right: 0.2rem;
  margin-top: 0.2rem;
}
.step-2 .merchant_card {
  border: none;
  background: #ffffff;
  margin-bottom: 0.4rem;
}
.step-2 .merchant_card .card-body {
  min-height: 100px;
}
.step-2 #chartdiv {
  width: 100%;
  min-height: 30vh;
  height: 100%;
  max-height: 40vh;
}
@media screen and (max-width: 540px) {
  .step-2 #chartdiv {
    min-height: 50vh;
  }
}
.step-2 .single-blog-posts img {
  width: 992px;
}
.step-2 .single-blog-posts .single-blog-content span {
  font-size: 14px;
  font-weight: bold;
  margin-top: 3px;
}
.step-2 .quantity_input {
  height: 30px;
  padding: 0;
  text-align: center;
}
.step-2 input::-webkit-outer-spin-button,
.step-2 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.step-2 input[type="number"] {
  -moz-appearance: textfield;
}
.step-2 .btn-addModal {
  padding: 2px 4px 2px 4px;
  font-size: 0.6rem;
  min-width: 100%;
  min-height: 50%;
  width: 2.5rem;
}
@media screen and (max-width: 414px) {
  .step-2 .btn-addModal {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 375px) {
  .step-2 .btn-addModal {
    font-size: 0.5rem;
  }
}
.step-2 .merchant_details {
  font-size: 13px;
}
.step-2 #empty_merchant {
  height: 100%;
  background: #ffffff;
  padding: 10px;
  border: dashed 3px #000;
}
@media screen and (max-width: 768px) {
  .step-2 #empty_merchant {
    height: 188px;
  }
}
@media screen and (max-width: 414px) {
  .step-2 #empty_merchant {
    height: 130px;
  }
}
@media screen and (max-width: 320px) {
  .step-2 #empty_merchant {
    height: 110px;
  }
}
.step-2 #plus_mark {
  position: absolute;
  left: calc(25% + 20%);
  top: calc(25% + 20%);
}
.step-2 .close {
  position: absolute;
  top: -2px;
  right: 17px;
  width: 20px;
  height: 20px;
  line-height: 15px;
  background-color: #ee4038;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 11px;
  opacity: 1;
}
@media screen and (max-width: 991px) {
  .step-2 .close {
    right: 6%;
    bottom: 80%;
  }
}
@media screen and (max-width: 768px) {
  .step-2 .close {
    right: 3%;
    bottom: 86%;
  }
}
@media screen and (max-width: 540px) {
  .step-2 .close {
    right: 6%;
    bottom: 86%;
  }
}
.step-2 .close .close_mark {
  font-weight: 700;
  line-height: 1;
  color: #000;
  color: #ffffff;
  opacity: 1;
  position: absolute;
  right: 20%;
  bottom: 6%;
  font-size: 15px;
}
.step-2 .select_card {
  background: #ffffff;
  padding: 10px;
}
.step-2 .finish_card {
  height: 100%;
  min-height: 150px;
}
@media screen and (max-width: 1024px) {
  .step-2 .finish_card {
    min-height: 103px;
  }
}
@media screen and (max-width: 1024px) {
  .step-2 .coupon_values_view {
    font-size: 0.6rem;
  }
  .step-2 .available_text {
    font-size: 6px;
  }
}
.redeem-step-2 .page_title {
  font-size: 1.5em;
  margin-bottom: 0rem;
}
/******************************************************
*
*
* view [Redeem Page]
*
*
*********************************************/
.redeem-view .redeem_links {
  color: #ee4038;
}
.redeem-view .redeem_links .valid_date_show {
  color: #282828;
}
.redeem-view .voucher_info {
  color: #282828;
}
@media screen and (max-width: 768px) {
  .redeem-view .redeem_value_info {
    font-size: 1rem;
  }
}
/******************************************************
*
*
* Registry Groups [All Groups]
*
*
*********************************************/
.registry-group .badge {
  text-transform: none;
}
.registry-group #empty_group {
  height: 85%;
  background: #f9fafb;
  padding: 10px;
  border: dashed 3px #000;
  min-height: 8rem;
}
/******************************************************
*
*
* Registry Groups [View Groups]
*
*
*********************************************/
.registry-group-view #empty_group {
  height: 85%;
  background: #f9fafb;
  padding: 10px;
  border: dashed 3px #000;
  min-height: 8rem;
}
.registry-group-view #plus_mark {
  position: absolute;
  left: calc(25% + 20%);
  top: calc(15% + 20%);
}
.registry-group #empty_group {
  height: 85%;
  background: #f9fafb;
  padding: 10px;
  border: dashed 3px #000;
  min-height: 8rem;
}
.registry-group #plus_mark {
  position: absolute;
  left: calc(25% + 20%);
  top: calc(15% + 20%);
}
/******************************************************
*
*
* Registry Events [View Events]
*
*********************************************/
.secret-santa .members-list {
  overflow-y: scroll;
  min-height: 25rem;
  max-height: 26rem;
}
.secret-santa .members-list ul {
  width: 100%;
}
.secret-santa .members-list ul li {
  margin-bottom: 0.5rem;
}
.secret-santa .event-name {
  margin-top: 0.2rem;
  font-weight: 600;
}
.secret-santa .card {
  margin-bottom: 0rem;
  border-radius: 0rem;
}
.secret-santa .card .card-body {
  min-height: 1rem;
}
.secret-santa .card .card-body .card-title span {
  color: #ee4038;
}
.secret-santa .btn-add {
  background-color: #ee4038;
  min-width: 25%;
}
.secret-santa .santa_gifts {
  overflow-y: scroll;
  max-height: 33rem;
}
.secret-santa .santa_gifts .card {
  box-shadow: none;
}
.secret-santa .my_gifts {
  overflow-y: scroll;
  max-height: 33rem;
}
.secret-santa .my_gifts .card {
  box-shadow: none;
}
.event-birthday .btn-add {
  background-color: #ee4038;
  min-width: 25%;
}
.event-birthday .my_gifts {
  overflow-y: scroll;
  max-height: 40rem;
}
.event-birthday .my_gifts .card {
  box-shadow: none;
}
.event-birthday .gift-reservation-ribbon {
  position: absolute;
  top: 5.5rem;
  left: 1rem;
  font-size: 1.5rem;
  z-index: 1;
  background-color: #ff2a6075 !important;
}
@media screen and (max-width: 768px) {
  .event-birthday .gift-reservation-ribbon {
    top: 4.5rem;
  }
}
@media screen and (max-width: 540px) {
  .event-birthday .gift-reservation-ribbon {
    top: 3.5rem;
  }
}
@media screen and (max-width: 414px) {
  .event-birthday .gift-reservation-ribbon {
    top: 1.5rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 320px) {
  .event-birthday .gift-reservation-ribbon {
    font-size: 1.2rem;
  }
}
.event-birthday .gift-reserve-button {
  position: absolute;
  right: 2rem;
  top: 5.5rem;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .event-birthday .gift-reserve-button {
    top: 4.5rem;
  }
}
@media screen and (max-width: 540px) {
  .event-birthday .gift-reserve-button {
    top: 3rem;
  }
}
@media screen and (max-width: 414px) {
  .event-birthday .gift-reserve-button {
    top: 1.1rem;
  }
}
@media screen and (max-width: 375px) {
  .event-birthday .gift-reserve-button {
    right: 0.5rem;
  }
}
@media screen and (max-width: 540px) {
  .event-birthday .gift-card .card-title {
    font-size: 1rem;
  }
}
.event-other .btn-add {
  background-color: #ee4038;
  min-width: 25%;
}
.event-other .my_gifts {
  overflow-y: scroll;
  max-height: 40rem;
}
.event-other .my_gifts .card {
  box-shadow: none;
}
.event-other .gift-reservation-ribbon {
  position: absolute;
  top: 5.5rem;
  left: 1rem;
  font-size: 1.5rem;
  z-index: 1;
  background-color: #ff2a6075 !important;
}
@media screen and (max-width: 768px) {
  .event-other .gift-reservation-ribbon {
    top: 4.5rem;
  }
}
@media screen and (max-width: 540px) {
  .event-other .gift-reservation-ribbon {
    top: 3.5rem;
  }
}
@media screen and (max-width: 414px) {
  .event-other .gift-reservation-ribbon {
    top: 1.5rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 320px) {
  .event-other .gift-reservation-ribbon {
    font-size: 1.2rem;
  }
}
.event-other .gift-reserve-button {
  position: absolute;
  right: 2rem;
  top: 5.5rem;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .event-other .gift-reserve-button {
    top: 4.5rem;
  }
}
@media screen and (max-width: 540px) {
  .event-other .gift-reserve-button {
    top: 3rem;
  }
}
@media screen and (max-width: 414px) {
  .event-other .gift-reserve-button {
    top: 1.1rem;
  }
}
@media screen and (max-width: 375px) {
  .event-other .gift-reserve-button {
    right: 0.5rem;
  }
}
@media screen and (max-width: 540px) {
  .event-other .gift-card .card-title {
    font-size: 1rem;
  }
}
.event-wedding .btn-add {
  background-color: #ee4038;
  min-width: 25%;
}
.event-wedding .my_gifts {
  overflow-y: scroll;
  max-height: 40rem;
}
.event-wedding .my_gifts .card {
  box-shadow: none;
}
.event-wedding .gift-reservation-ribbon {
  position: absolute;
  top: 5.5rem;
  left: 1rem;
  font-size: 1.5rem;
  z-index: 1;
  background-color: #ff2a6075 !important;
}
@media screen and (max-width: 768px) {
  .event-wedding .gift-reservation-ribbon {
    top: 4.5rem;
  }
}
@media screen and (max-width: 540px) {
  .event-wedding .gift-reservation-ribbon {
    top: 3.5rem;
  }
}
@media screen and (max-width: 414px) {
  .event-wedding .gift-reservation-ribbon {
    top: 1.5rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 320px) {
  .event-wedding .gift-reservation-ribbon {
    font-size: 1.2rem;
  }
}
.event-wedding .gift-reserve-button {
  position: absolute;
  right: 2rem;
  top: 5.5rem;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .event-wedding .gift-reserve-button {
    top: 4.5rem;
  }
}
@media screen and (max-width: 540px) {
  .event-wedding .gift-reserve-button {
    top: 3rem;
  }
}
@media screen and (max-width: 414px) {
  .event-wedding .gift-reserve-button {
    top: 1.1rem;
  }
}
@media screen and (max-width: 375px) {
  .event-wedding .gift-reserve-button {
    right: 0.5rem;
  }
}
@media screen and (max-width: 540px) {
  .event-wedding .gift-card .card-title {
    font-size: 1rem;
  }
}
.event-view .chat-app .chat-history {
  height: 30rem;
  overflow-x: auto;
}
@media screen and (max-width: 768px) {
  .event-view .chat-app .chat-history {
    height: 25rem;
    max-height: 30rem;
  }
}
.single-footer-widget .import-link li::before {
  content: none !important;
}
.single-footer-widget .import-link li {
  padding-left: 0rem !important;
  line-height: 2rem;
}
.footer-meaning {
  font-size: 1rem;
}
@media screen and (max-width: 1240px) {
  .footer-meaning {
    font-size: 1rem;
  }
}
@media screen and (max-width: 991px) {
  .footer-meaning {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 540px) {
  .footer-meaning {
    font-size: 1rem;
  }
}
@media screen and (max-width: 375px) {
  .footer-meaning {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 360px) {
  .footer-meaning {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 320px) {
  .footer-meaning {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 360px) {
  .footer-gifter-text {
    font-size: 0.7rem;
  }
}
.widgets_container {
  margin-top: 2rem;
}
.redeem_amount {
  color: black;
}
.profile-header .user-profile-image {
  width: 11rem;
}
.profile-header .user_pic {
  bottom: 0.5rem !important;
}
.profile-header .img-raised {
  box-shadow: none;
}
.font-weight-500 {
  font-weight: 500;
}
@media screen and (max-width: 414px) {
  .your-order-text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 375px) {
  .your-order-text {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 320px) {
  .your-order-text {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 540px) {
  .my_gifts .card-body {
    min-height: 85px !important;
  }
}
@media screen and (max-width: 540px) {
  .customize-gift-inner h2 {
    font-size: 1.2rem !important;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 540px) {
  .customize-gift-inner p {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 320px) {
  .expire-text {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 320px) {
  .done-text {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 320px) {
  .voucher-serial-no {
    font-size: 8px !important;
  }
}
@media screen and (max-width: 320px) {
  .voucher-validate-date {
    font-size: 9px !important;
  }
}
@media screen and (max-width: 414px) {
  .wallet-title {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 360px) {
  .navbar-brand img {
    width: 70px;
  }
}
.breadcrumb .breadcrumb-item a {
  color: #ee4038;
}
.card-title a {
  color: #ee4038;
}
.navbar-nav .nav-item a {
  color: #ffffff;
}
.header h2 strong {
  color: #ee4038 !important;
}
.header h2::before {
  background: #ee4038 !important;
}
.sidebar .list .active a {
  color: #ee4038 !important;
}
.sidebar .list .active a:hover {
  color: #ee4038 !important;
}
.sidebar .list .active a:hover {
  color: #ee4038 !important;
}
.sidebar .list .active a::before {
  background: #ee4038 !important;
}
.sidebar .list .active a::before:hover {
  background: #ee4038 !important;
}
.btn-gifter-red {
  z-index: 1;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  padding: 15px 30px 16px;
  line-height: 1;
  transition: all ease 0.5s;
  text-align: center;
  background-color: #ee4038;
  overflow: visible;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: 14rem;
}
@media screen and (max-width: 768px) {
  .btn-gifter-red {
    width: 80%;
  }
}
.btn-gifter-red:hover {
  background-color: #ee4038;
  color: #ffffff;
}
.btn-gifter-black {
  z-index: 1;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  padding: 15px 30px 16px;
  line-height: 1;
  transition: all ease 0.5s;
  text-align: center;
  background-color: #282828;
  overflow: visible;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: 14rem;
}
@media screen and (max-width: 768px) {
  .btn-gifter-black {
    width: 80%;
  }
}
.btn-gifter-black:hover {
  background-color: #333132;
  color: #ffffff;
}
.info-box-2 .body .icon {
  vertical-align: bottom;
}
.btn-gift-add {
  z-index: 1;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff !important;
  padding: 10px 30px 10px;
  line-height: 1;
  transition: all ease 0.5s;
  text-align: center;
  background-color: #ee4038;
  overflow: visible;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: 10rem;
}
@media screen and (max-width: 768px) {
  .btn-gift-add {
    width: 80%;
  }
}
.btn-gift-add:hover {
  background-color: #ee4038;
  color: #ffffff;
}
.copyright_area_link span {
  padding-left: 1rem;
  border-left: solid 1px #282828;
}
.copyright_area_link span a {
  color: #282828;
}
@media screen and (max-width: 414px) {
  .copyright_area_link span {
    padding-left: 0.5rem;
  }
}
@media screen and (max-width: 414px) {
  .copyright_area_link {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 375px) {
  .copyright_area_link {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 360px) {
  .copyright_area_link {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 320px) {
  .copyright_area_link {
    font-size: 0.6rem;
  }
}
.btn-group-view-white {
  z-index: 1;
  font-weight: 600;
  font-size: 16px;
  color: #ee4038 !important;
  padding: 10px 30px 10px;
  line-height: 1;
  transition: all ease 0.5s;
  text-align: center;
  background-color: #ffffff;
  overflow: visible;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: 8rem;
}
@media screen and (max-width: 768px) {
  .btn-group-view-white {
    width: 60%;
  }
}
.btn-group-view-white:hover {
  background-color: #ffffff;
  color: #ee4038;
}
.btn-group-view-red {
  z-index: 1;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff !important;
  padding: 10px 30px 10px;
  line-height: 1;
  transition: all ease 0.5s;
  text-align: center;
  background-color: #ee4038;
  overflow: visible;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: 8rem;
}
@media screen and (max-width: 768px) {
  .btn-group-view-red {
    width: 60%;
  }
}
.btn-group-view-red:hover {
  background-color: #ee4038;
  color: #ffffff;
}
@media screen and (max-width: 320px) {
  .modal-content .modal-header button {
    top: 10px !important;
  }
}
